body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #fcba03;
}

/* body {
  background-color: rgb(3, 7, 8);
}

div {
  color: white;
}

h1 {
  color: white;
}

h1:hover {
  color: #fcba03;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h3:hover {
  color: #fcba03;
}
h4 {
  color: white;
}

h4:hover {
  color: #fcba03;
} */
