.Review {
  margin: 100px;
}

.review_card {
  margin-top: 50px;
}

.review_item h5 {
  margin-top: 10px;
}

.review_item .review {
  margin: 20px 0px 20px 10px;
}

.review_item .review_createdAt {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
