.Search {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.SearchBar {
  margin: 30px;
}

.search_paper {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.search_input {
  margin-left: 15px;
}

.SearchResult {
  margin: 100px;
}
