/* .container {
  margin: 100px;
} */

.Search {
  display: flex;
  flex-direction: row;
}

.SearchBar {
  margin: 30px;
}

.SearchBar .search_bar {
  margin: 100px;
  padding-left: 12px;
  border: 2px solid #fcba03;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SearchBar .search_bar .search_bar_line {
  border-left: 2px solid #fce096;
  height: 30px;
}

.SearchResult {
  margin: 100px;
}
