.Search {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  margin: 30px;
}

.search_paper {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}
.search_input {
  margin-left: 15px;
}

.SearchResult {
  margin: 100px;
}

.search_results {
  display: flex;
  flex-direction: column;
}

.search_image {
  width: 200px;
}

.search_title {
  max-width: 200px;
}

.search_origin {
  max-width: 200px;
  margin-left: 5px;
  color: grey;
  font-style: italic;
}

.search_date {
  max-width: 200px;
  padding: 2px;
  margin-left: 120px;
  font-size: 11pt;
  font-weight: 450;
  color: rgb(250, 111, 111);
  background-color: whitesmoke;
}
